.#{$site} {
  .slick-pagination {
    &:not(.is-default) {
      display: flex !important;

      li {
        &.slick-active {
          span {
            opacity: 0.6;
          }
        }

        span {
          background-color: var(--color-white);
          border: 0;
          transform: scale(0.6);
        }
      }

      @include media-breakpoint-up(md) {
        display: none !important;
      }
    }

    &.is-default {
      display: none !important;

      li {
        margin: 0 spacing(3);

        &.slick-active {
          span {
            background-color: var(--color-blue-medium);
            transform: scale(0.7);
          }
        }

        span {
          background-color: var(--color-black-40);
          transform: scale(0.6);
        }
      }

      @include media-breakpoint-up(md) {
        display: flex !important;
      }
    }
  }
}
